<!--
    Tiene 2 columnas, divididos a la altura de la imagen de perfil
    en la primera hay 2 filas, la primer fila es la formación, la segunda es el lugar de origen
    ambas filas tendrán 2 imagenes, el logo de la formación y la bandera del lugar de origen

    En la segunda columna dirá "Acerca de" y luego la descripción de la persona
-->
<div id="column">
    <br>
    <section >
        <article id="column-1">
            <img src="https://www.universidades.com.ar/logos/original/logo-universidad-nacional-de-tucuman.webp" 
                width="35" height="35" hspace="10">
            <p class="destacado"><b>Universidad Nacional de Tucumán</b></p>
        </article>
        <article>
            b
        </article>
    </section>
</div>

