<!--
    Tiene 2 columnas, divididos a la altura de la imagen de perfil
    en la primera hay 2 filas, la primer fila es la formación, la segunda es el lugar de origen
    ambas filas tendrán 2 imagenes, el logo de la formación y la bandera del lugar de origen

    En la segunda columna dirá "Acerca de" y luego la descripción de la persona
-->
<div class="vicio">

</div>

<div class="wrapper">
    <div class="destacado">
        <img src="../../../assets/educacion/logouniversidad.jpg" 
        width="35" height="35" hspace="10" vspace="5">
    </div>
    <div class="destacado">
        {{universidad}}
    </div>
    <div></div>
    <div class="destacado">
        <img src="../../../assets/ubicacion/argentina.png" 
        width="35" height="35" hspace="10" vspace="5">
    </div>
    <div class="destacado">
        {{provincia}}, {{pais}}
    </div>

    <!-- es la parte derecha del about me-->
    <div class="box">
        <h4>Acerca de</h4>
        <p>{{descripcion}}</p>
    </div>
</div>


