<!--
    Tiene 2 columnas, divididos a la altura de la imagen de perfil
    en la primera hay 2 filas, la primer fila es la formación, la segunda es el lugar de origen
    ambas filas tendrán 2 imagenes, el logo de la formación y la bandera del lugar de origen

    En la segunda columna dirá "Acerca de" y luego la descripción de la persona
-->
<div class="wrapper">
    <div>
        <img src="https://www.universidades.com.ar/logos/original/logo-universidad-nacional-de-tucuman.webp" 
        width="35" height="35" hspace="10" vspace="5">
    </div>
    <div class="destacado">
        Universidad Nacional de Tucumán
    </div>
    <div></div>
    <div class="box" >Three</div>
    <div><img src="https://w7.pngwing.com/pngs/509/1019/png-transparent-argentina-national-football-team-flag-of-argentina-flag-miscellaneous-flag-logo-thumbnail.png" 
        width="35" height="35" hspace="10" vspace="5">
    </div>
    <div class="destacado">
            Tucumán, Argentina
    </div>
</div>


