.vicio{
    height: 20px;
}
.destacado{
    font-weight: bold;
    text-align: center;
    align-items: center;
    display: flex;
    font-size: small;
    justify-content: center;
}

.wrapper{
    border-color: gray;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 55px 155px 30px auto;
}

.box {
    grid-column: 4;
    grid-row: 1 / 3;
    
  }