<nav class="navbar bg-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">
        <img src="../../../assets/argentinaprogramalogo.jpg" 
            width="35" height="35" hspace="10">
          
        Argentina Programa - #YoProgramo</span>
      <form class="d-flex" role="search">
          <a href="https://www.facebook.com/Dj.Augus/" target="_blank">
              <img src="../../../assets/facebooklogo.png" 
                  width="35" height="35">
          </a>
        <a href="https://www.instagram.com/august.ok/" target="_blank">
            <img src="../../../assets/instagramlogo.jpg" 
                width="35" height="35" hspace="10"> 
        </a>
        <a href="https://www.linkedin.com/in/augusto-brito-568b81199/" target="_blank">
          <img src="../../../assets/linkedinlogo.png" 
          width="40" height="35" >
        </a>
        <a href="https://twitter.com/augus_dkno" target="_blank">
            <img src="../../../assets/twitterlogo.png" 
                width="40" height="35" hspace="10" >
        </a>
        <app-log-in
          (btnClick)="toggleLogIn()"
        ></app-log-in>
      </form>
    </div>
</nav>

