<nav class="navbar bg-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">
        <img src="https://media-exp1.licdn.com/dms/image/C560BAQGv-Dd7A2pQ0g/company-logo_200_200/0/1646458288684?e=2147483647&v=beta&t=2bEkW38L80hsKUeV4gucwORSlBcJNmYd5H6CBz_Z00E" 
            width="35" height="35" hspace="10">
          
        Argentina Programa - #YoProgramo</span>
      <form class="d-flex" role="search">
          <a href="https://www.facebook.com/Dj.Augus/" target="_blank">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/2048px-Facebook_f_logo_%282019%29.svg.png" 
                  width="35" height="35" hspace="10">
          </a>
        <a href="https://www.instagram.com/august.ok/" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/768px-Instagram_logo_2016.svg.png" 
                width="35" height="35" > 
        </a>
        <a href="https://twitter.com/augus_dkno" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Twitter-logo.svg/2491px-Twitter-logo.svg.png" 
                width="40" height="35" hspace="10">
        </a>
        <button class="btn btn-outline-success" type="submit">Ingresar</button>
      </form>
    </div>
</nav>

