<!-- Aqui hay que ver que la imagen sea traída del back -->
<div    
    id="padre"
>
    <img 
        class="bann" 
        src="../../../assets/banner/banner.jpg" 
    >
    <div 
        class="pencil"
        *ngIf="showLogIn"
    >
        <img 
            class="pencil2"
            src="../../../assets/lapiz.svg"
        >
    </div>
    <div>
    </div>
    <div id="hijo">
        <img 
        class="photo"
        [style.filter]="'brightness(' + retornarContraste() + ')'"
        src="../../../assets/perfil/perfil.jpg"
        >
    </div>
    <div
        class="pencil3"
        *ngIf="showLogIn"
    >
        <img 
            class="pencil2"
            src="../../../assets/lapiz.svg"
        >

    </div>
</div>
<div id="hijo-segundo">
    <h1>
        Brito, Augusto Ismael
    </h1>
    <div id="gris">
        <h2>
            Full Stack Developer Jr
        </h2>
    </div>
</div>
