<!-- Aqui hay que ver que la imagen sea traída del back -->
<div    
    id="padre"
>
    <img 
        class="bann" 
        src="../../../assets/banner/banner.jpg" 
    >
    <div 
        class="pencil"
        *ngIf="showLogIn"
    >
        <img 
            class="pencil2"
            src="../../../assets/lapiz.svg"
        >
    </div>
    <div id="hijo">
        <img 
        class="photo"
        *ngIf="showLogIn; else elseBlock"
        (mouseover)="brillo = '20%'"
        (mouseout)="brillo = ''"
        [style.filter]="'brightness(' + brillo + ')'"
        src="../../../assets/perfil/perfil.jpg"
        >
        <ng-template #elseBlock>
            <img 
            class="photo"
            src="../../../assets/perfil/perfil.jpg"
            >
        </ng-template>
    </div>
    <div
        class="pencil3"
        *ngIf="showLogIn"
    >
        <img 
            class="pencil2"
            src="../../../assets/lapiz.svg"
        >
    </div>
</div>
<div id="hijo-segundo">
    <h1>
        Brito, Augusto Ismael
    </h1>
    <div 
        class="pencil4"
        *ngIf="showLogIn"
    >
        <img 
            class="pencil2"
            src="../../../assets/lapiz.svg"
        >
    </div>
    <div id="gris">
        <h2>
            Full Stack Developer Jr
        </h2>
    </div>
</div>
