<nav class="navbar bg-light">
    <div class="container-fluid">
      <span class="navbar-text">
        <h2>
            Hard & Soft Skills
        </h2>
      </span>
    </div>
  </nav>

<div class="center">
    <circle-progress
      [percent]="85"
      [radius]="80"
      [outerStrokeWidth]="7"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
      [title]="'Comunicación'"
      [showSubtitle]="false"
      [showUnits]="false"
    ></circle-progress>

    <circle-progress
      [percent]="85"
      [radius]="80"
      [outerStrokeWidth]="7"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
      [title]="'Comunicación'"
      [showSubtitle]="false"
      [showUnits]="false"
    ></circle-progress>

    <circle-progress
      [percent]="85"
      [radius]="80"
      [outerStrokeWidth]="7"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
      [title]="'Comunicación'"
      [showSubtitle]="false"
      [showUnits]="false"
    ></circle-progress>
    
</div>
<div class="center">
    <circle-progress
      [percent]="85"
      [radius]="80"
      [outerStrokeWidth]="7"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
      [title]="'Comunicación'"
      [showSubtitle]="false"
      [showUnits]="false"
    ></circle-progress>
    <circle-progress
      [percent]="100"
      [radius]="80"
      [outerStrokeWidth]="7"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
      [title]="'Comunicación'"
      [showSubtitle]="false"
      [showUnits]="false"
    ></circle-progress>
    <circle-progress
      [percent]="0"
      [radius]="80"
      [outerStrokeWidth]="7"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
      [title]="'Comunicación'"
      [showSubtitle]="false"
      [showUnits]="false"
    ></circle-progress>
</div>